<!DOCTYPE html>
<html>

<head>
    <title>My App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            /* Use Roboto font */
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-color: #f0f0f0;
            /* Light grey background */
        }

        header {
            text-align: center;
        }

        main {
            background-color: white;
            height: 70vh;
            width: 70vh;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        textarea {
            width: 100%;
            height: 66vh;
            box-sizing: border-box;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 4px;
            border: 1px solid #ddd;
            resize: none;
        }

        button {
            padding: 10px 50px;
            border-radius: 4px;
            border: none;
            background-color: #007bff;
            color: white;
            cursor: pointer;
            font-size: 16px;
        }

        button:hover {
            background-color: #0056b3;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
</head>

<body>
    <header>
        <h1>Markdown Parser</h1>
    </header>
    <main>
        <form id="markdownForm">
            <textarea id="markdownInput" placeholder="Enter your markdown here"></textarea>
            <button type="submit">Submit</button>
        </form>
        <script>
            document.getElementById('markdownForm').addEventListener('submit', function (event) {
                event.preventDefault();
                const input = document.getElementById('markdownInput').value;
                const encodedInput = btoa(input);
                window.location.href = '/parse-markdown?markdown=' + encodeURIComponent(encodedInput);
            });
        </script>
    </main>
</body>
<script>hljs.highlightAll();</script>

</html>